<div class="container">
    <div class="form-group" style="margin-bottom: 5px" >
        <button class="btn btn-primary" mat-raised-button color="primary" routerLink="/cursos" flo>Listar Cursos</button>
    </div>
  <form  [formGroup]="formulario" (ngSubmit)="adicionarCurso()">
        <span  *ngIf="formulario.value.codigo != ''">
          <mat-form-field style="margin-top: 4%; " >
            <input matInput placeholder="Codigo Curso"  formControlName="codigo" [readonly]="true" style="background: #D3D3D3">
          </mat-form-field>
        </span>

      <mat-form-field class="example-full-width" style="margin-top: 4%" >
        <input matInput placeholder="Nome Curso"  formControlName="nome">
      </mat-form-field>

      <div class="form-group">
        <button mat-raised-button color="primary">Salvar</button>   
      </div>
    </form>
</div>