<div class="container">
    <div class="form-group" style="margin-bottom: 5px"  *ngIf="auth.temPermissao('ROLE_ADMIN')">
        <button class="btn btn-primary" mat-raised-button color="primary" routerLink="/cursos/novo" flo>Cadastrar Novo</button>
    </div>
    <table mat-table [dataSource]="cursos" class="mat-elevation-z8">
    
    
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let curso"> {{curso.codigo}} </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let curso"> {{curso.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="opcao">
          <th mat-header-cell *matHeaderCellDef> Opções </th>
          <td mat-cell *matCellDef="let curso">
              <button id="remove" class="btn btn-warn" mat-raised-button color="warn" (click)="excluir(curso.codigo)" *ngIf="auth.temPermissao('ROLE_ADMIN')">Excluir</button>
              <button id="remove" class="btn btn-primary" mat-raised-button color="primary" (click)="inscreva(curso.codigo, auth.jwtPayload?.id)" *ngIf="auth.temPermissao('ROLE_USER')">Inscrever-se</button>
          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
  </table>  
</div>